.App {
  text-align: center;
  position: absolute;
  top:0;
}

.start{

margin-top: 20%;
width: 20%;
height: 15%;
}
.start:hover{
    transform: translateY(2px);
    background-color: "fff";
}
.intro {
    font-family: "McLaren", cursive;
  color:#6EFFCF;
  text-align: center;
  background-image: url("./intro_back.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.record {
     font-family: "McLaren", cursive;
  font-size: 1.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:0;
  background-color: transparent;
  font-weight: bolder;
  color:#D14D72;
  background-image: url("./app_back.jpg");
  background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;

}

.record button {
  background-color:#ff0000;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  border: 5px solid #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.record button:hover {
  background-color: #e60000;
}

.record button:active {
  transform: translateY(2px);
}
.speed{
text-align:center;
width: 20%;
background-color:#5C4785;
color:#FFE6C7;
}
.sub-div{
  text-align: center;
  background-color: #5C4785;
  color:#FFE6C7;
  height: 20%;
  width: 40%;
}
.speedometer{
  height:15%;
}
